[Network]
Device = 'docker0'
Timeout = 2000
snaplen = 1500
Promiscuous = true
UseZeroCopy = true

[Redis]
Host = '172.17.42.1'
Port = 6379
MaxBufSize = 10240

[Analyze]
ReadHitAnalyze = true
SaveCmdTypes = [1, 2, 3]
SaveDetail = 3
